.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.wrapper:hover {
  background: #f1f3f4;
}

.contact-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}
.pro-pic {
  border-radius: 50%;
}

h6 {
  font-weight: 380;
  margin: 0 30px;
}

.phone {
  width: 20%;
}
