.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.wrapper:hover {
  cursor: pointer;
  background: #f1f3f4;
}

.edit {
  display: flex;
  align-items: center;
  min-width: 100px;
}

.edit-icon {
  position: absolute;
  right: 0;
  display: none;
}

.wrapper:hover .edit-icon {
  display: block;
}

.wrapper:hover .edit:hover {
  background: transparent;
  color: #297196;
}
.contact-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}
.pro-pic {
  border-radius: 50%;
}

h6 {
  font-weight: 380;
  margin: 0 80px;
  font-size: 0.88rem;
}

.fone {
  width: 372px;
  align-items: center;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-right: 18px;
}
