.horizontal-line {
  border-bottom: 2px solid #f7f7f7;
  position: relative;
  top: 48px;
  width: 51%;
  left: 400px;
}

.contact-list {
  position: relative;
  left: 350px;
  top: 50px;
}

.contacts-count {
  position: relative;
  top: 55px;
  left: 400px;
  margin: 7px 0;
}
