th {
  display: table-cell;
  vertical-align: inherit;
  color: #5f6368;
  text-align: center;
}

.table-head {
  position: relative;
  right: 200px;
}

p {
  font-size: 11px;
  color: #7e8286;
  font-weight: bold;
}

.horizontal-line {
  border-bottom: 2px solid #f7f7f7;
  position: relative;
  top: 48px;
  width: 51%;
  left: 400px;
}

.table-dimension {
  position: absolute;
  right: 400px;
}
