.contact-list {
  display: block;
  position: relative;
  left: 350px;
  top: 135px;
  width: 1100px;
}

.contacts-count {
  position: relative;
  top: 150px;
  left: 400px;
  margin: 7px 0;
  color: #5f6368;
  width: 1100px;
}
